@page "/"
@inject IJSRuntime JS

<PageTitle>Home</PageTitle>

<h1>Welcome</h1>

@if (_username.Length < 1)
{
    <button @onclick="SignIn" class="btn btn-primary">Sign in with Google</button>
}
else
{
    <p>Signed in as @_username</p>
}

@code
{
    private string _username = "";

    private async Task SignIn()
    {
        _username = new string(await JS.InvokeAsync<string>("signIn"));
    }
}